@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}



body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

section {
  height: 300px;
}